<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <a href="/student" class="btn btn-primary mb-3">Back</a>
            <div class="card shadow">
                <div class="card-header">
                    <h2>All Unverified Students</h2>
                </div>
                <div class="card-body">
                    <table class="table table-striped student-Data-Table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Cell</th>
                                <th>Location</th>
                                <th>Photo</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% students.reverse().forEach((student, index)=> { %>
                                <tr class="align-middle">
                                    <td>
                                        <%= index + 1 %>
                                    </td>
                                    <td>
                                        <%= student.name %>
                                    </td>
                                    <td>
                                        <%= student.email %>
                                    </td>
                                    <td>
                                        <%= student.cell %>
                                    </td>
                                    <td>
                                        <%= student.location %>
                                    </td>
                                    <td>
                                        <% if (student.photo=='avatar.png' ) { %>
                                            <img class="dataTable-img" src="/images/<%= student.photo %> " alt="">
                                            <% } else { %>
                                                <img class="dataTable-img" src="/images/student/<%= student.photo %> "
                                                    alt="">
                                                <% } %>


                                    </td>
                                    <td>
                                        <a class="btn btn-info btn-sm" href="/student/show/<%= student.id %> "><i
                                                class="fa-solid fa-eye"></i></a>
                                        <a class="btn btn-warning btn-sm" href="/student/edit/<%= student.id %>"><i
                                                class="fa-solid fa-pen-to-square"></i></a>
                                        <a class="btn btn-danger btn-sm delete_btn"
                                            href="/student/delete/<%= student.id %> "><i
                                                class="fa-solid fa-trash"></i></a>
                                    </td>
                                </tr>
                                <% }) %>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>